<table id="tutortable">
  <thead>
    <tr>
      <th>Area</th>
      <th>Tutor nick</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Espoo</td>
      <td>Edomir, Kipuna</td>
    </tr>
    <tr>
      <td>Hamina / Kotka</td>
      <td>Kummatus, Artanicus</td>
    </tr>
    <tr>
      <td>Hanko</td>
      <td>RiiTrai</td>
    </tr>
    <tr>
      <td>Helsinki</td>
      <td>Elaenia, kopedankissa</td>
    </tr>
    <tr>
      <td>Joensuu</td>
      <td>salakavala</td>
    </tr>
    <tr>
      <td>Jyväskylä</td>
      <td>ymy</td>
    </tr>
    <tr>
      <td>Kuopio</td>
      <td>cheaea</td>
    </tr>
    <tr>
      <td>Lahti</td>
      <td>loiste, singulariteetti, JohnDarkwind</td>
    </tr>
    <tr>
      <td>Lappeenranta</td>
      <td>Alienaamor</td>
    </tr>
    <tr>
      <td>Lieksa</td>
      <td>Re5pect</td>
    </tr>
    <tr>
      <td>Oulu</td>
      <td>Tinde</td>
    </tr>
    <tr>
      <td>Satakunta</td>
      <td>LaFumar</td>
    </tr>
    <tr>
      <td>Savonlinna</td>
      <td>Cyberdroid</td>
    </tr>
    <tr>
      <td>Sipoo</td>
      <td>ephemer</td>
    </tr>
    <tr>
      <td>Tampere</td>
      <td>AdrianGajewsky, Ekyttis</td>
    </tr>
    <tr>
      <td>Turku</td>
      <td>Ronde, fjollmeister</td>
    </tr>
    <tr>
      <td>Vaasa</td>
      <td>Osmobot</td>
    </tr>
    <tr>
      <td>Vihti / Lohja</td>
      <td>Igetin</td>
    </tr>
  </tbody>
</table>
